.title-el-h3{
    color:#FFFFFF;
    font-weight: 700;
    line-height: 40px;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
}
.sub-el-text{
    color:#FFFFFF;
    line-height: 32px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
.langh-slidy img{
  height: 90vh;
}